.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.list {
  display: flex;
  gap: 1rem;
  font-weight: bold;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
  text-decoration: underline;
}

.button {
  font: inherit;
  cursor: pointer;
  padding: 0.15rem 1.5rem;
  border-radius: 4px;
  background-color: var(--color-gray-300);
  color: var(--color-gray-800);
  border: none;
}

button:hover {
  background-color: var(--color-primary-300);
}
